@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Pretendard', sans-serif;
}

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 204 100% 50%;
    --primary-foreground: 240 10% 3.9%;
    
    --secondary: 240 4.8% 12%;
    --secondary-foreground: 0 0% 98%;
    
    --muted: 240 4.8% 12%;
    --muted-foreground: 240 3.8% 60%;

    --accent: 240 4.8% 12%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 204 100% 50%;

    --radius: 0.75rem;

    --chart-1: 204 100% 50%;
    --chart-2: 180 100% 40%;
    --chart-3: 300 100% 50%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 204 100% 50%;
    --primary-foreground: 240 10% 3.9%;
    
    --secondary: 240 4.8% 12%;
    --secondary-foreground: 0 0% 98%;
    
    --muted: 240 4.8% 12%;
    --muted-foreground: 240 3.8% 60%;

    --accent: 240 4.8% 12%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 204 100% 50%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@keyframes to-right {
  0% { transform: translateX(0); }
  100% { transform: translateX(100%); }
}
@keyframes to-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

.animate-marquee-to-right {
  animation: to-right 50s linear infinite;
}

.animate-marquee-to-left {
  animation: to-left 50s linear infinite;
}
